<p>Listado de Heroes</p>

<h3>Heroe borrado <small class="text-danger">heroe borrado = {{ lastDeletedHeroe }}</small></h3>
<h3>No ha borrado nada</h3>

<button (click)="removeLastHero()" class="btn btn-outline-danger">
  Borrar ultimo heroe
</button>

<!-- <p>{{ borrarUltimoHeroe }}</p> -->

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroeNames; let i = index"
      [ngClass]="{'list-group-item': true,
                  'list-group-item-primary': i % 2 === 0,
                  'list-group-item-secondary': i % 2 !== 0}">
    <strong>{{ name }}</strong>
  </li>
</ul>
